# Übungsblatt 1 (Fundamentals) - Grundkonzepte der Datenanalyse und Visualisierung WS 2024/25

Zweck des Übungsblattes ist es, mit der Verwendung der Jupyter-Notebooks vertraut zu werden, sowie den Umgang mit DataFrames in Pandas zu üben.

Jupyter-Notebooks beginnen üblicherweise mit dem Import der benötigten Python Bibliotheken. 
Wir werden das in der Übung auch so handhaben.
Verwenden Sie daher die nächste Zelle, um die benötigten Bibliotheken zu importieren.

In [4]:
# Importieren Sie hier die verwendeten Python Bibliotheken.
# Halten Sie sich dabei an die üblichen Konventionen.
# 
# Importieren Sie auf jeden Fall Pandas und NumPy.
# Gerne dürfen Sie auch weitere Bibliotheken importieren.

import pandas as pd
import numpy as np

_Hinweis:_ Vergessen Sie nicht, diese Zelle immer auszuführen, nachdem Sie den Kernel (neu) gestartet haben.

Sie werden die hier vorliegende Struktur in den Übungs-Notebooks öfters finden: Zuerst eine Zelle, in welcher Sie die Lösung zu einer Aufgabenstellung eingeben, gefolgt von einer Zelle welche ein paar Testfälle enthält.

In [5]:
# Ein Test ob Pandas und NumPy richtig importiert wurden
assert type(pd.Series) == type, f'Cannot verify type of pd.Series - is {type(pd.Series)}'
assert np.pi<22/7, f'np.pi seems to have the wrong value - is {np.pi}'

_Hinweis 1:_ Nur weil es bei den angegebenen Testfällen zu keinen Fehlern kommt, muss dies nicht heißen, dass die Lösung richtig ist. ;-) Wir testen Ihre Abgaben einerseits mit weiteren Testfällen, aber werfen andererseits auch einen Blick auf die Lösung. Für die Bewertung zählt die _Korrektheit_ der Lösung.

_Hinweis 2:_ Sie dürfen sich gerne zusätzliche Testfälle/Ausgaben überlegen.

_Anmerkungen zu Konventionen in der Angabe:_<br/>
Zwei Anmerkungen zu Konventionen, welche wir in den Angaben (versuchen) einzuhalten, die in der Vergangenheit zu Fragen geführt haben. Bitte beachten Sie, dass Sie diesen **nicht** folgen müssen. Sie sind dazu gedacht, einige Aspekte der Angabe hervorzuheben.

* Verwendung von ```' '``` und ```" "``` für Strings: Grundsätzlich verwenden wir ```' '``` für Strings. Ausnahme sind Namen von Merkmalen. Um diese als solche zu kennzeichnen verwenden wir hier ```" "```.
* Variablennamen von DataFrames: Um klarer abzugrenzen, welche Variablen ein DataFrame enthalten und welche nicht, beginnen die Namen aller Variablen die ein DataFrame enthalten mit ```df_```.

## Koffein- und Kaloriengehalt von Getränken

Noch einmal Herzlich Willkommen zur Übung in DAV. Am Beginn machen wir es uns einmal bequem und nehmen uns etwas zu trinken.

Der erste Datensatz, an dem wir ein paar grundlegende Funktionen von Pandas DataFrames ausprobieren wollen, enthält Informationen über den Koffein- und Kaloriengehalt verschiedener im (US-) Handel erhältlicher Getränke.

**Beschreibung der Daten:**

* __Drink__ Der (Marken)name des Getränks
* __Volume (ml)__ Die Verpackungsgröße, in welcher das Getränk verkauft wird, bzw. (bei Tee oder Kaffee zum selber Aufgießen) die typische/vorgeschlagene Menge (in ml)
* __Calories__ Die Gesamtmenge an Kalorien in einer Packung des Getränks (keine Einheit angegeben, vmtl. in Kalorien)
* __Caffeine (mg)__ Die Gesamtmenge an Koffein in einer Packung des Getränks (in mg)
* __Type__ Eine Klassifikation des Getränks (Kaffee, Energy Drink, Wasser, ...)

**Quelle:**

Wir verwenden den auf [kaggle (hier)](https://www.kaggle.com/datasets/heitornunes/caffeine-content-of-drinks) verfügbaren Datensatz. Die ursprüngliche Quelle der Daten wird dort jedoch als [https://www.caffeineinformer.com/the-caffeine-database](https://www.caffeineinformer.com/the-caffeine-database) angegeben. Die Korrektheit der Daten - und inwieweit sie auch auf die in Österreich verkauften Versionen der selben Getränke anwendbar sind - konnte von uns nicht überprüft werden. Die etwas komisch anmutenden Werte für das Volumen dürften sich daraus ergeben, dass in den Originaldaten das Volumen in *floz* angegeben wird (der Datensatz stammt aus den USA) und in der von uns verwendeten Version in *ml* umgerechnet wurde.

### Datensatz laden und Struktur der Daten

In [6]:
# Laden Sie die in 'path_drinks' referenzierte csv Datei in ein DataFrame.
# Speichern Sie eine Referenz auf dieses DataFrame in der Variable 'df_drinks' ab.

path_drinks = 'CaffeineContent.csv'

df_drinks = pd.read_csv(path_drinks)
print(df_drinks)

                           Drink  Volume (ml)  Calories  Caffeine (mg)    Type
0                   Costa Coffee   256.993715         0            277  Coffee
1    Coffee Friend Brewed Coffee   250.191810         0            145  Coffee
2             Hell Energy Coffee   250.191810       150            100  Coffee
3             Killer Coffee (AU)   250.191810         0            430  Coffee
4                   Nescafe Gold   250.191810         0             66  Coffee
..                           ...          ...       ...            ...     ...
605     Pep Talk Sparkling Water   354.882000         0             55   Water
606          Polar Seltzer Water   354.882000         0              0   Water
607       Yerbae Sparkling Water   354.882000         0            100   Water
608                  Tonic Water   295.735000       110              0   Water
609    MiO Energy Water Enhancer   236.588000         0             60   Water

[610 rows x 5 columns]

In [7]:
# Ein paar simple Tests, ob die Daten korrekt geladen wurden
# (nicht ausreichend um zu garantieren, dass die Daten richtig geladen wurden :-) )

assert type(df_drinks) == pd.core.frame.DataFrame, f'df_drinks kein pandas DataFrame {type(df_drinks)}'
assert type(df_drinks["Volume (ml)"]) == pd.core.frame.Series, f'Merkmal "Volume (ml)" fehlt oder falsche Struktur: {type(df_weather_wien["Volume (ml)"])}'
assert df_drinks["Volume (ml)"].dtype == np.float64, f'Daten von Merkmal "Volume (ml)" haben falschen Datentyp {df_drinks["Volume (ml)"].dtype}'
assert type(df_drinks["Caffeine (mg)"]) == pd.core.frame.Series, f'Merkmal "Caffeine (mg)" fehlt oder falsche Struktur: {type(df_weather_wien["Caffeine (mg)"])}'
assert df_drinks["Caffeine (mg)"].dtype == np.int64, f'Daten von Merkmal "Caffeine (mg)" haben falschen Datentyp {df_drinks["Caffeine (mg)"].dtype}'

Bei der Arbeit mit einem neuen Datensatz ist es zuerst einmal wichtig, ein grobes Gefühl für die Struktur und den Inhalt der Daten zu bekommen. Einen ersten Schritt in diese Richtung haben wir schon getan, indem wir die Zelle, in welcher wir den Datensatz geladen haben, mit ```df_drinks``` beendet haben. Dadurch wird ein Ausschnitt der Daten angezeigt. Das gibt uns ein grobes, intuitives Verständnis für die Daten - welche Merkmale gibt es, was für Typen von Werten besitzen diese. Im nächsten Schritt ist es meist eine gute Idee zu überprüfen, ob die Intuition der Datentypen auch stimmt - bzw. zu überprüfen ob Pandas die Daten auch so interpretieren kann wie wir das vermuten (es können z.B. bei vermeintlich numerischen Merkmalen Probleme auftreten, so dass diese nicht als Zahlen sondern als String interpretiert werden, etc.). Eine schnelle, grobe Überprüfung erlaubt die Methode ```DataFrame.info()```.

In [8]:
df_drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Drink          610 non-null    object
 1   Volume (ml)    610 non-null    float64
 2   Calories       610 non-null    int64
 3   Caffeine (mg)  610 non-null    int64
 4   Type           610 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 24.0+ KB

Neben den Datentypen sehen wir auch, dass der Datensatz keine fehlenden Werte enthält.

_Stimmen die hier gezeigten Datentypen mit Ihren Erwartungen überein? (Sie müssen keine Antwort abgeben, aber überlegen Sie es sich trotzdem)_

### Getränketypen und deren Eigenschaften (Einfache Pivot-Tabellen)

Die Getränke des Datensatzes sind in Kategorien (Merkmal __Type__) unterteilt. Um den Datensatz weiter zu verstehen, untersuchen wir zuerst die verschiedenen Getränkekategorien.

In einem ersten Schritt berechnen wir, welche Kategorien es eigentlich gibt und wie viele Getränke zu jeder Kategorie gehören.

In [9]:
# Erstellen Sie eine Pivot-Tabelle, welche für jede Kategorie (als Zeilen) die Anzahl 
# der zugehörigen Getränke enthält. 
# (Der Merkmalsname soll "Drink" sein).
# Speichern Sie eine Referenz auf diese Pivot-Tabelle in der Variablen 'df_num_types' ab.

df_num_types = df_drinks.pivot_table(values='Drink', index='Type', aggfunc='count')
print (df_num_types)

               Drink
Type
Coffee           173
Energy Drinks    219
Energy Shots      36
Soft Drinks       90
Tea               66
Water             26

In [10]:
assert type(df_num_types) == pd.core.frame.DataFrame, f'df_num_types kein pandas DataFrame {type(df_drinks)}'
assert type(df_num_types["Drink"]) == pd.core.frame.Series, f'Merkmal "Drink" fehlt oder falsche Struktur: type(df_num_types["Drink"])'
assert df_num_types["Drink"].dtype == np.int64, f'Daten von Merkmal "Drink" haben falschen Datentyp {df_num_types["Drink"].dtype}'
assert len(df_num_types.columns) == 1, f'df_num_types hat falche Anzahl an Merkmalen {len(df_num_types.columns)}'
assert len(df_num_types.index) == 6, f'df_num_types hat falche Anzahl an Einträgen {len(df_num_types.index)}'

Unser eigentliches Ziel ist es, etwas über den Koffeingehalt der Getränke zu erfahren. Daher berechnen wir als nächstes für jede Kategorie sowohl den durchschnittlichen, als auch den maximalen Koffeingehalt pro Getränk.

Die Tabelle sollte folgende Struktur haben:

<img src="img/StructurePivotTable.png" alt="Beispiel für Struktur der Tabelle"  width="320"/>

In [11]:
# Erstellen Sie eine Pivot-Tabelle, welche für jede Kategorie (als Zeile) sowohl 
# den durchschnittlichen, als auch den maximalen Koffeingehalt pro Getränkt enthält.
# Speichern Sie eine Referenz auf diese Pivot-Tabelle in der Variablen 'df_cat_caffeine' ab.

df_cat_caffeine = df_drinks.pivot_table(index='Type', values='Caffeine (mg)', aggfunc=['mean', 'max'])
df_cat_caffeine.head()

                       mean           max
              Caffeine (mg) Caffeine (mg)
Type
Coffee           200.589595          1555
Energy Drinks    147.867580           400
Energy Shots     193.416667           350
Soft Drinks       33.677778           102
Tea               55.863636           165

In [12]:
assert type(df_cat_caffeine) == pd.core.frame.DataFrame, f'df_cat_caffeine kein pandas DataFrame {type(df_drinks)}'
assert type(df_cat_caffeine[("mean", "Caffeine (mg)")]) == pd.core.frame.Series, f'Merkmal ("mean", "Caffeine (mg)") fehlt oder falsche Struktur: type(df_cat_caffeine[("mean", "Caffeine (mg)")])'
assert df_cat_caffeine[("mean", "Caffeine (mg)")].dtype == float, f'Daten von Merkmal ("mean", "Caffeine (mg)") haben falschen Datentyp {df_cat_caffeine[("mean", "Caffeine (mg)")].dtype}'
assert len(df_cat_caffeine.columns) == 2, f'df_cat_caffeine hat falche Anzahl an Merkmalen {len(df_cat_caffeine.columns)}'
assert len(df_cat_caffeine.index) == 6, f'df_cat_caffeine hat falche Anzahl an Einträgen {len(df_cat_caffeine.index)}'

### Getränke mit definierten Eigenschaften finden (Daten aus einem DataFrame abfragen)

Dass "Wasser" im Schnitt mehr Koffein enthält als Soft Drinks ist unerwartet - ebenso wie ein Wasser mit 120mg Koffein. Was ist das für ein Getränk?

In [13]:
# Suchen Sie aus dem DataFrame 'df_drinks' alle Einträge (Zeilen) heraus, 
# die ein Getränk vom Typ 'Wasser' beschreiben und die 120mg Koffein enthalten.
# Das Ergebnis soll wiederum ein DataFrame sein (beim Erwarteten 
# Lösungsweg kommt auf natürlichem Weg ein DataFrame heraus).
# Speichern Sie eine Referenz auf dieses DataFrame in der Variablen 
# 'df_waking_waters' ab.

df_waking_waters = df_drinks[(df_drinks['Type'] == "Water") & (df_drinks['Caffeine (mg)']==120)]
df_drinks.head()

                         Drink  Volume (ml)  Calories  Caffeine (mg)    Type
0                 Costa Coffee   256.993715         0            277  Coffee
1  Coffee Friend Brewed Coffee   250.191810         0            145  Coffee
2           Hell Energy Coffee   250.191810       150            100  Coffee
3           Killer Coffee (AU)   250.191810         0            430  Coffee
4                 Nescafe Gold   250.191810         0             66  Coffee

In [14]:
assert type(df_waking_waters) == pd.core.frame.DataFrame, f'df_waking_waters kein pandas DataFrame {type(df_drinks)}'
assert type(df_waking_waters["Drink"]) == pd.core.frame.Series, f'Merkmal "Drink" fehlt oder falsche Struktur: {type(df_waking_waters["Drink"])}'
assert df_waking_waters["Volume (ml)"].dtype == float, f'Daten von Merkmal "Volume (ml)" haben falschen Datentyp {df_waking_waters[("Volume (ml)")].dtype}'
assert len(df_waking_waters.columns) == 5, f'df_waking_waters hat falche Anzahl an Merkmalen {len(df_waking_waters.columns)}'
assert len(df_waking_waters.index) == 1, f'df_waking_waters hat falche Anzahl an Einträgen {len(df_waking_waters.index)}'

Ein Blick auf den (ursprünglichen) Datensatz offenbart ebenfalls, dass es erstaunlich viele Packungsgrößen gibt. Aber wie viele genau? Diese und zwei weitere Fragen werden wir als nächstes beantworten.

In [15]:
# Ermitteln Sie drei verschiedene Werte aus dem Datensatz und 
# speichern Sie diese in den jeweils genannten Variablen.
# Die Anzahl an Einträgen im Datensatz mit einer Verpackungsgröße von mindestens 500ml (Variable: 'num_big_packages')
# Den maximalen Koffeingehalt eines Getränks mit weniger als 500 ml (Variable: 'caffeine_amount')
# Die Anzahl unterschiedlicher Verpackungsgrößen (Variable: 'num_packaging')

num_big_packages = df_drinks[df_drinks['Volume (ml)'] > 500]['Volume (ml)'].count()
num_packaging = df_drinks['Volume (ml)'].nunique()
caffeine_amount = df_drinks[df_drinks['Volume (ml)'] > 500]['Caffeine (mg)'].max()

try:
    print(f'Es gibt {num_big_packages} Getränke in Halbliterpackungen oder größer.')
    print(f'Es gibt Getränke in {num_packaging} verschiedenen Verpackungsgrößen.')
    print(f'Mit weniger als 500ml Flüssigkeit kann man maximal {caffeine_amount}mg Koffein erhalten.')
except NameError as ne:
    print('Da ist zumindest eine der Variablen noch nicht definiert!', ne)

Es gibt 43 Getränke in Halbliterpackungen oder größer.
Es gibt Getränke in 70 verschiedenen Verpackungsgrößen.
Mit weniger als 500ml Flüssigkeit kann man maximal 640mg Koffein erhalten.

In [16]:
# so viel sei über die richtigen Werte verraten:
assert num_big_packages > 0, 'num_big_packages nicht > 0!'
assert num_packaging > 0, 'num_big_packages nicht > 0!'
assert caffeine_amount > 0, 'num_big_packages nicht > 0!'

Die Gesamtmenge an Koffein und Kalorien in einem Getränk sind zwar sehr nützlich, um zu wissen, wie viel wir davon aufnehmen, wenn wir eine Portion/Packung davon trinken. Zum Vergleich der Getränke wäre es aber hilfreich, wenn wir die Menge pro 100ml wüssten.

In [17]:
# Erweitern Sie das DataFrame 'df_drinks' um zwei Merkmale
# "Caffeine Concentration (mg/100ml)"
# und
# "Calories Concentration (per 100ml)"
# (die Anführungszeichen sind NICHT Teil des Namens)
# Diese sollen für jedes Getränk die Koffein- bzw. Kalorienmenge pro 100ml enthalten.

df_drinks["Caffeine Concentration (mg/100ml)"] = (df_drinks['Caffeine (mg)'] / df_drinks['Volume (ml)']) * 100
df_drinks["Calories Concentration (per 100ml)"] = (df_drinks['Calories'] / df_drinks['Volume (ml)']) * 100

df_drinks.head()

,Drink,Volume (ml),Calories,Caffeine (mg),Type,Caffeine Concentration (mg/100ml),Calories Concentration (per 100ml)
0,Costa Coffee,256.993715,0,277,Coffee,107.784737,0.000000
1,Coffee Friend Brewed Coffee,250.191810,0,145,Coffee,57.955534,0.000000
2,Hell Energy Coffee,250.191810,150,100,Coffee,39.969334,59.954001
3,Killer Coffee (AU),250.191810,0,430,Coffee,171.868136,0.000000
4,Nescafe Gold,250.191810,0,66,Coffee,26.379760,0.000000

In [18]:
# Besitzt das DataFrame die beiden zusätzlichen Spalten, und enthalten diese die korrekten Informationen?
assert type(df_drinks["Caffeine Concentration (mg/100ml)"]) == pd.core.frame.Series, f'Merkmal "Caffeine Concentration (mg/100ml)" fehlt oder falsche Struktur: {type(df_waking_waters["Caffeine Concentration (mg/100ml)"])}'
assert type(df_drinks["Calories Concentration (per 100ml)"]) == pd.core.frame.Series, f'Merkmal "Calories Concentration (per 100ml)" fehlt oder falsche Struktur: {type(df_drinks["Calories Concentration (per 100ml)"])}'

assert df_drinks["Caffeine Concentration (mg/100ml)"].dtype == float, f'"Caffeine Concentration (mg/100ml)" hat falschen Datentyp: {df_drinks["Caffeine Concentration (mg/100ml)"].dtype}'
assert df_drinks["Calories Concentration (per 100ml)"].dtype == float, f'"Calories Concentration (per 100ml)" hat falschen Datentyp: {df_drinks["Calories Concentration (per 100ml)"].dtype}'

# Zwei zufällig ausgewählte Werte zum Vergleich
assert abs(df_drinks.loc[100, "Caffeine Concentration (mg/100ml)"]-26.76946) < 0.0001, f'Caffeine Concentration (mg/100ml) an Index 100 falsch: {df_drinks.loc[100, "Caffeine Concentration (mg/100ml)"] }'
assert abs(df_drinks.loc[222, "Calories Concentration (per 100ml)"]-45.59198) < 0.0001, f'Calories Concentration (per 100ml) an Index 222 falsch: {df_drinks.loc[222, "Calories Concentration (per 100ml)"]}'

Nachdem wir nun die Koffeinkonzentration der einzelnen Getränke kennen, interessiert uns _natürlich_ eine Rangliste über die Getränke mit dem höchsten Koffeinanteil.

In [19]:
# Erstellen Sie eine nach der Koffeinkonzentration absteigend 
# sortierte Kopie des DataFrames 'df_drinks', und speichern Sie eine 
# Referenz auf dieses neue DataFrame in der Variablen 'df_wake_me_up'


df_wake_me_up = df_drinks.sort_values(by="Caffeine Concentration (mg/100ml)", ascending=False)
df_wake_me_up.head()

,Drink,Volume (ml),Calories,Caffeine (mg),Type,Caffeine Concentration (mg/100ml),Calories Concentration (per 100ml)
406,Vital 4U Liquid Energy,14.786750,34,155,Energy Shots,1048.235752,229.935584
405,Screamin Energy Max Hit,18.039835,40,185,Energy Shots,1025.508271,221.731518
407,Kaffn8 Liquified Caffeine,7.393375,0,75,Energy Shots,1014.421695,0.000000
416,Neu Nootropic Shot,59.147000,0,350,Energy Shots,591.745989,0.000000
427,X-Mode Energy Shot,29.573500,0,150,Energy Shots,507.210848,0.000000

In [20]:
# grobe Struktur
assert type(df_wake_me_up) == pd.core.frame.DataFrame, f'df_wake_me_up kein pandas DataFrame {type(df_wake_me_up)}'
assert type(df_wake_me_up["Caffeine Concentration (mg/100ml)"]) == pd.core.frame.Series, \
    f'Merkmal "Caffeine Concentration (mg/100ml)" fehlt oder falsche Struktur: {type(df_wake_me_up["Caffeine Concentration (mg/100ml)"])}'
assert df_wake_me_up["Caffeine Concentration (mg/100ml)"].dtype == np.float64, \
    f'Daten von Merkmal "Caffeine Concentration (mg/100ml)" haben falschen Datentyp {df_wake_me_up["Caffeine Concentration (mg/100ml)"].dtype}'
assert len(df_wake_me_up.columns) == 7, f'Anzahl der Spalten von "df_wake_me_up" falsch: {len(df_wake_me_up.columns)}'

# passende Werte
assert len(df_wake_me_up.index) == 610, f'Das sortierte DataFrame hat plötzlich weniger Einträge: {len(df_wake_me_up.index)}'                                            
assert abs(df_wake_me_up["Caffeine Concentration (mg/100ml)"].iloc[2] - 1014.421695) < 0.00001, \
        f'Der Eintrag an Index 2 hat nicht den erwarteten Wert: {df_wake_me_up["Caffeine Concentration (mg/100ml)"].iloc[2]}' 

# Sortierung
def check_sort(values):
    for idx, val in enumerate(values[1:]):
        if values.iloc[idx] < val: return False
    return True
assert check_sort(df_wake_me_up["Caffeine Concentration (mg/100ml)"]), f'DataFrame nicht absteigend sortiert!'
assert df_wake_me_up.index.get_loc(321) == 84, f'Index 321 steht nicht an erwarteter Position: {df_wake_me_up.index.get_loc(321)}'

### Informationen über eigene Getränke eingeben (DataFrames erstellen und zusammenführen)

Von den Vorteilen des Datensatzes überzeugt, stellen Sie fest, dass Ihre Lieblingsgetränke leider nicht im Datensatz enthalten sind. Um in der Zukunft für Sie noch nützlicher zu sein, müssen Sie dies natürlich ändern und den Datensatz entsprechend erweitern.

Wir werden dabei in zwei Schritten vorgehen: 
- Zuerst erstellen wir ein neues DataFrame, in welchem wir unsere neuen Einträge definieren (nächste Zelle)
- Anschließen vereinen wir das Ursprüngliche und das neue DataFrame zu einem vollständigen DataFrame (anschließende Zelle)

_Hinweis:_ Es ist ok, wenn Sie sich Werte ausdenken - Sie müssen nicht (können aber natürlich) anfangen den Koffein- und Kaloriengehalt echter Getränke zu recherchieren.

In [21]:
# Erstellen Sie ein neues DataFrame mit den Merkmalen 
# "Drink", "Volume (ml)", "Calories", "Caffeine (mg)", "Type" 
# (also nur den ursprünglichen Merkmalen).
# Das DataFrame muss mindestens drei Einträge besitzen und 
# die Einträge müssen unterschiedliche Werte enthalten. 
# (die Einträge können auf ein oder zwei Merkmalen die selben 
#  Werte haben, müssen sich auf den restlichen Merkmalen aber 
#  unterscheiden - Ziel ist, nicht einfach den selben Eintrag 
#  drei mal zu kopieren, sondern wirklich 3 Einträge von 
#  Hand zu erstellen).
# Speichern Sie eine Referenz auf das DataFrame in der
# Variablen 'df_my' ab


df_my = pd.DataFrame(data={
    "Drink": ['Nuke Cola (Fallout Series)','Mana Potion (The Legend of Zelda)','Sody Pop (EarthBound)','Butter Beer (Harry Potter)','Energon (Transformers)','Peach Tea (Final Fantasy XV)', 'Slurm (Futurama)', 'Vita-Cola (Wolfenstein: The New Order)'],
    "Volume (ml)": [355, 200, 355, 500, 250, 500, 355, 400],
    "Calories": [150, 10, 120, 210, 100, 150, 220, 180],
    "Caffeine (mg)": [45, 0, 30, 0, 150, 35, 80, 65],
    "Type": ['Soft Drinks', 'Magic Drinks', 'Soft Drinks', 'Magic Drinks', 'Energy Drinks', 'Tea', 'Soft Drinks', 'Soft Drinks']
})

df_my.head()

,Drink,Volume (ml),Calories,Caffeine (mg),Type
0,Nuke Cola (Fallout Series),355,150,45,Soft Drinks
1,Mana Potion (The Legend of Zelda),200,10,0,Magic Drinks
2,Sody Pop (EarthBound),355,120,30,Soft Drinks
3,Butter Beer (Harry Potter),500,210,0,Magic Drinks
4,Energon (Transformers),250,100,150,Energy Drinks

In [22]:
assert type(df_my) == pd.core.frame.DataFrame, f'df_my kein pandas DataFrame {type(df_my)}'

assert len(df_my.index) >= 3, f'df_my hat weniger als die geforderten 3 Einträge: {len(df_my.index)}'
assert len(df_my.columns) == 5, f'df_my hat eine falsche Anzahl an Spalten: {len(df_my.columns)}'

assert type(df_my["Calories"]) == pd.core.frame.Series, f'Merkmal "Calories" fehlt oder falsche Struktur: {type(df_my["Calories"])}'

Nun verbinden wir die beiden DataFrames (achten Sie auf die genaue Angabe in der nächsten Zelle).

In [23]:
# Erzeugen Sie ein neues DataFrame, welches sowohl alle Einträge des 
# DataFrames 'df_drinks' als auch alle Einträge des DataFrames 
# 'df_my' enthält. Aus dem DataFrame 'df_drinks' sollen nur die
# ursprünglichen Merkmale 
# "Drink", "Volume (ml)", "Calories", "Caffeine (mg)", "Type" 
# übernommen werden.
# Sorgen Sie dafür, dass alle Einträge (Zeilen) in 'df_all' einen 
# eindeutigen Index haben (im Index dürfen sich keine Werte wiederholen).
# Weder das DataFrame 'df_drinks' noch das DataFrame 'df_my' darf
# verändert werden. 
# Speichern Sie eine Referenz auf das neue DataFrame in der Variablen
# 'df_all' ab.


cols = ["Drink", "Volume (ml)", "Calories", "Caffeine (mg)", "Type"]

df_all = pd.concat([df_drinks, df_my], join='inner', ignore_index=True)

df_all.head()

                         Drink  Volume (ml)  Calories  Caffeine (mg)    Type
0                 Costa Coffee   256.993715         0            277  Coffee
1  Coffee Friend Brewed Coffee   250.191810         0            145  Coffee
2           Hell Energy Coffee   250.191810       150            100  Coffee
3           Killer Coffee (AU)   250.191810         0            430  Coffee
4                 Nescafe Gold   250.191810         0             66  Coffee

In [24]:
assert type(df_all) == pd.core.frame.DataFrame, f'df_all kein pandas DataFrame {type(df_all)}'

assert len(df_all.index) >= 613, f'Die Anzahl der Einträge in df_all deutet auf ein Problem hin: {len(df_all.index)}'
assert len(df_all.columns) == 5, f'df_all hat eine falsche Anzahl an Spalten: {len(df_all.columns)}'

assert len([a for a in df_all.index if a == 0]) <= 1, f'Es scheint als käme zumindest die 0 öfter als einmal als Index vor'

## Lehrpersonen in Österreich

Für die zweite Hälfte des Übungsblattes wechseln wir den Datensatz, und betrachten die Anzahl an Lehrpersonen (sowie die Anzahl an Vollzeitäquivalenten) in Österreich, aufgeschlüsselt nach Jahr (2015-2022) und politischem Bezirk. Es geht in erster Linie wieder darum, einige grundlegende Funktionen von DataFrames anzuwenden - wobei ein etwas stärkerer Fokus auf Funktionen liegen wird, welche für das Aufbereiten der Daten nötig sind: Selten finden sich Datensätze in genau dem Format und mit genau den Informationen, die für die eigene Arbeite gerade benötigt werden. Gefundene Daten in eine verwendbare Form zu bekommen macht einen nicht unerheblichen Teil der Arbeit aus. 

Wir werden einige Funktionen, die bei dieser Arbeit hilfreich sein können, einsetzen - wobei der verwendete Datensatz prinzipiell in sehr gutem Zustand ist (konsistent, vollständig, eine einhetliche, fehlerfreie Kodierung). Trotzdem werden wir einige Schritte benötigen, um ihn wirklich lesen zu können.

**Beschreibung der Daten:**

- Das **Schuljahr** (das Schuljahr 2015 beschreibt den Zeitraum 2015/16, wir werden für 2015/16 einfach die Bezeichnung 2015 wählen)
- Der **politische Bezirk**
- Die **Anzahl der Lehrpersonen** (in diesem Bezirk und Jahr)
- Die **Anzahl der Vollzeitäquivalente** (in diesem Bezirk und Jahr)

Die eigentlichen Daten liegen in der Datei ```LehrpersonenSeit2015.csv```. Wie wir in Kürze sehen werden, sind dort einige Daten nicht direkt hinterlegt, sondern durch Kennzeichnungen identifiziert (garantiert eine einheitliche Klassifikation und Beschreibung). Die Bedeutung dieser Kennzeichnungen wird in extra Dateien zur Verfügung gestellt. 
- Die Datei ```LehrpersonenSeit2015_Header.csv``` enthält die Merkmalsnamen
- Die Datei ```LehrpersonenSeit2015_PolBezirke.csv``` enthält die Namen der politischen Bezirke
- Die Datenquelle stellt noch eine weitere Datei mit den Bezeichnungen der Schuljahre zur Verfügung, diese werden wir aber nicht verwenden. (Sie finden Sie bei Interesse unter der unten genannten URL)

**Quelle:**

Die Daten stammen von der Statistik Austria, wir verwenden allerdings die auf [data.gv.at](https://www.data.gv.at/katalog/dataset/d1e51cde-f2a3-39f0-b2db-83f806df1fa0) veröffentlichte Variante. 
Auch wenn wir die Daten natürlich nicht verifizieren konnten, ist aufgrund der Quelle davon auszugehen, dass sie korrekt sind. Der Datensatz wurde unverändert übernommen.

Link zum Datensatz: [https://www.data.gv.at/katalog/dataset/d1e51cde-f2a3-39f0-b2db-83f806df1fa0](https://www.data.gv.at/katalog/dataset/d1e51cde-f2a3-39f0-b2db-83f806df1fa0)

In [25]:
# Laden Sie die in 'path_teacher' referenzierte csv Datei in DataFrame und 
# speichern Sie eine Referenz auf dieses DataFrame in der Variablen 'df_teachers_raw' ab.
# Achtung! Die Datei verwendet ; als Trennzeichen

path_teacher = 'LehrpersonenSeit2015.csv'

df_teachers_raw = pd.read_csv(path_teacher,delimiter=';')

In [26]:
assert type(df_teachers_raw) == pd.core.frame.DataFrame, f'df_teachers_raw kein pandas DataFrame {type(df_teachers_raw)}'
assert type(df_teachers_raw["F-GEW1-0"]) == pd.core.frame.Series, f'Merkmal "F-GEW1-0" fehlt oder falsche Struktur: {type(df_weather_wien["F-GEW1-0"])}'
assert df_teachers_raw["F-GEW1-0"].dtype == np.int64, f'Daten von Merkmal "F-GEW1-0" haben falschen Datentyp {df_teachers_raw["F-GEW1-0"].dtype}'

assert len(df_teachers_raw.columns) == 4, f'Anzahl der Merkmale stimmt nicht: {len(df_teachers_raw.columns)}'
assert len(df_teachers_raw.index) == 930, f'Anzahl der Einträge stimmt nicht: {len(df_teachers_raw.index)}'

In [27]:
df_teachers_raw.head()

    C-SJAHR-0  C-BEZ17L-0  F-GEW1-0  F-GEW2-0
0  SJAHR-2015  BEZ17L-101       680       599
1  SJAHR-2015  BEZ17L-102        32        31
2  SJAHR-2015  BEZ17L-103       249       218
3  SJAHR-2015  BEZ17L-104       350       315
4  SJAHR-2015  BEZ17L-105       175       158

In [28]:
df_teachers_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   C-SJAHR-0   930 non-null    object
 1   C-BEZ17L-0  930 non-null    object
 2   F-GEW1-0    930 non-null    int64
 3   F-GEW2-0    930 non-null    int64
dtypes: int64(2), object(2)
memory usage: 29.2+ KB

Ein schneller Blick auf die grundlegenden Eigenschaften des DataFrames zeigt, was bereits angekündigt wurde: Die Daten selber schauen auf den ersten Blick nicht schlecht aus (keine fehlenden Daten, die beiden Spalten mit offensichtlich numerischen Werten wurde als Integer erkannt - es gibt da also keine Einträge mit ungültigen Zeichen), aber die Merkmalsnamen sowie die Werte der beiden ersten Merkmale sind für uns nicht sehr aussagekräftig. 
Unser Ziel ist es daher, diese "Probleme" zu beheben. 

Konkret:

- Wir werden den Merkmalen (columns) verständliche Namen geben
- Wir werden die Werte des ersten Merkmals (Schuljahr) durch Zahlenwerte für das jeweilige Jahr (2015, 2016, ...) ersetzen
- Wir werden die Werte des zweiten Merkmals (pol. Bezirk) durch die Bezirksnamen ersetzen.

Zusätzliche möchten wir den Datensatz noch um eine Spalte "Bundesland" ergänzen, in welcher wir das Bundesland abspeichern, in dem der pol. Bezirk liegt.

_Anmerkung:_ Einige der nächsten Schritte erscheinen vielleicht etwas umständlicher als notwendig, oder zumindest deren Aufteilung auf einzelne Zellen scheint unnötig. 
Tatsächlich ist es so, dass sich manche dieser Schritte zusammenfassen/vereinfachen lassen. Die Aufteilung folgt hier didaktischen Gründen: Wir versuchen, die Anzahl "neuer" 
Funktionen pro Zelle möglichst klein zu halten. Gleichzeitig soll es möglich sein, jede Zelle mehrfach auszuführen, ohne dass dies zu Fehlern führt - dies sollte die 
Anzahl der Fälle reduzieren in denen es nötig ist, alle bisherigen Schritte erneut auszuführen. Statt dessen sollte jede Zelle so oft angepasst und erneut ausgeführt werden
können, bis das Ergebnis passt.

### "Sprechende" Namen für Merkmale

Der erste Schritt besteht darin, den Merkmalen für uns verständliche Namen zu geben. Wie beschrieben, werden diese als Teil des Datensatzes in einer eigenen Datei (hier: ```LehrpersonenSeit2015_Header.csv```) mitgeliefert. In dieser Datei erkennen wir die folgenden Merkmalsnamen: 

* ```C-SJAHR-0```: Schuljahr
* ```C-BEZ17L-0```: Pol. Bezirk
* ```F-GEW1-0```: Anzahl Lehrpersonen
* ```F-GEW2-0```: Vollzeitäquivalente

Unser Ziel ist es, die Spalten umzubenennen. Wie Sie dabei vorgehen, ist Ihnen überlassen - die Lösung darf in diesem Fall auch basierend auf den oben genannten Werten fix-kodiert ("hard-coded") sein, bzw. ist das sogar die intendierte Lösung. Wenn Ihnen das zu einfach ist, dürfen Sie aber gerne versuchen, die Spalten dynamisch mit Hilfe der Datei ```'LehrpersonenSeit2015_Header.csv'``` umzubennen.

In [29]:
# Bennen Sie die Mermale des DataFrames 'df_teachers_raw' entsprechend des oben genannten Schemas um

# falls Ihnen eine dieser beiden Datenstrukturen behilflich ist, dürfen Sie sie gerne verwenden.
col_names_dict = {"C-SJAHR-0": "Schuljahr",
                  "C-BEZ17L-0": "Pol. Bezirk",
                  "F-GEW1-0": "Anzahl Lehrpersonen",
                  "F-GEW2-0": "Vollzeitäquivalente"}
col_names = list(col_names_dict.values())

df_teachers_raw = df_teachers_raw.rename(columns=col_names_dict)

In [30]:
assert sorted(df_teachers_raw.columns) == ['Anzahl Lehrpersonen', 'Pol. Bezirk', 'Schuljahr', 'Vollzeitäquivalente'], \
        f'Die Merkmalsnamen scheinen nicht zu stimmen: {sorted(df_teachers_raw.columns)}'

In [31]:
df_teachers_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Schuljahr            930 non-null    object
 1   Pol. Bezirk          930 non-null    object
 2   Anzahl Lehrpersonen  930 non-null    int64
 3   Vollzeitäquivalente  930 non-null    int64
dtypes: int64(2), object(2)
memory usage: 29.2+ KB

### Jahreszahlen und Bundesländer extrahieren

Als nächstes nehmen wir die Werte des Merkmals __Schuljahr__ in Angriff und beginnen aus der Bezeichnung der politischen Bezirke das __Bundesland__ zu extrahieren. 

__Schuljahr:__
Eigentlich stehen die Werte für Schuljahre wie 2015/16, 2020/21, etc. Wir hätten hier jedoch gerne Zahlen (Integer), und bezeichnen daher das Schuljahr 20x/(x+1) als 20x - also z.B. 2015/16 als 2015. 

__Bundesland:__
Die pol. Bezirke sind nach dem Schema _BEZ17L-xyz_ bezeichnet, wobei _xzy_ eine dreistellige Nummer ist. Aus dieser Nummer lässt sich das Bundesland ablesen: Bezirke mit Nummern 100-199 sind im Burgenland, 200-299 Kärnten, usw. 

In beiden Fällen ist unser Vorgehen dafür am Beginn einmal gleich: Wir extrahieren die interessanten Teilstrings (Zahlen) aus den Werten, speichern diese in eigenen Merkmalen (Spalten), und wandeln diese in Integer um.

Wie bereits angekündigt, gehen wir dabei langsam - Schritt für Schritt - vor:

In [32]:
# Extrahieren Sie aus dem Merkmal "Schuljahr" die Jahreszahl (letzten vier Stellen des Strings)
# und aus dem Mermal "Pol. Bezirk" die Bezirksnummer (letzten drei Stellen des Strings)
# Speichern Sie die Jahreszahl (als String) in einem Merkmal "SJahr" und 
# die Bezirksnummer (als String) in einem Merkmal "BLand".
# (Die zusätzlichen Merkmale sollen zum DataFrame 'df_teachers_raw' hinzugefügt werden)
#
# Die Funktionen extract_year und extract_blnr extrahieren aus einem String die jeweils letzten 
# vier bzw. drei Werte (Aufruf extract_year('SJAHR-2015') gibt '2015') und können zur Lösung 
# der Aufgabe verwendet werden.

extract_year = lambda val: val[-4:]
extract_blnr = lambda val: val[-3:]

df_teachers_raw["SJahr"] = df_teachers_raw["Schuljahr"].apply(extract_year)
df_teachers_raw["BLand"] = df_teachers_raw["Pol. Bezirk"].apply(extract_blnr)

df_teachers_raw.head()

,Schuljahr,Pol. Bezirk,Anzahl Lehrpersonen,Vollzeitäquivalente,SJahr,BLand
0,SJAHR-2015,BEZ17L-101,680,599,2015,101
1,SJAHR-2015,BEZ17L-102,32,31,2015,102
2,SJAHR-2015,BEZ17L-103,249,218,2015,103
3,SJAHR-2015,BEZ17L-104,350,315,2015,104
4,SJAHR-2015,BEZ17L-105,175,158,2015,105

In [33]:
assert len(df_teachers_raw.index) == 930, f'Die Anzahl der Einträge im DataFrame hätte sich nicht ändern sollen: {len(df_teachers_raw)}'
assert sorted([c for c in df_teachers_raw.columns]) == ['Anzahl Lehrpersonen', 'BLand', 'Pol. Bezirk', 'SJahr', 'Schuljahr', 'Vollzeitäquivalente'], \
        f'Die Merkmalsnamen des DataFrames sind falsch: {sorted([c for c in df_teachers_raw.columns])}'

assert df_teachers_raw["SJahr"].dtype == object, f'Daten in "SJahr" sollten Strings sein: {df_teachers_raw["SJahr"].dtype}'
assert df_teachers_raw["BLand"].dtype == object, f'Daten in "BLand" sollten Strings sein: {df_teachers_raw["BLand"].dtype}'

assert df_teachers_raw.loc[0, "SJahr"] == '2015', f'Jahr nicht korrekt extrahiert?: {df_teachers_raw.loc[0, "SJahr"]}'
assert df_teachers_raw.loc[0, "BLand"] == '101', f'Bezirkscode nicht korrekt extrahiert?: {df_teachers_raw.loc[0, "BLand"]}'

Mit den richtigen Werten (als Strings) in den Merkmalen "BLand", "SJahr" wandeln wir diese nun in numerische Werte um.

_Hinweis:_ Hier kann die Methode ```to_numeric()``` der DataFrames hilfreich sein [API-Referenz](https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html).

In [34]:
# Wandeln Sie die Werte der Merkmale "BLand" und "SJahr" in Zahlen (Integer) um.
# Verändern Sie direkt die entsprechenden Merkmale in 'df_teachers_raw'. 
# Es sollen keine neuen Merkmale hinzugefügt werden, und auch keine der anderen 
# Merkmale verändert werden.

df_teachers_raw["SJahr"] = pd.to_numeric(df_teachers_raw["SJahr"])
df_teachers_raw["BLand"] = pd.to_numeric(df_teachers_raw["BLand"])

print(df_teachers_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Schuljahr            930 non-null    object
 1   Pol. Bezirk          930 non-null    object
 2   Anzahl Lehrpersonen  930 non-null    int64
 3   Vollzeitäquivalente  930 non-null    int64
 4   SJahr                930 non-null    int64
 5   BLand                930 non-null    int64
dtypes: int64(4), object(2)
memory usage: 43.7+ KB
None

In [35]:
assert len(df_teachers_raw.index) == 930, f'Die Anzahl der Einträge im DataFrame hätte sich nicht ändern sollen: {len(df_teachers_raw)}'
assert sorted([c for c in df_teachers_raw.columns]) == ['Anzahl Lehrpersonen', 'BLand', 'Pol. Bezirk', 'SJahr', 'Schuljahr', 'Vollzeitäquivalente'], \
        f'Die Merkmalsnamen hätten sich nicht ändern sollen: {sorted([c for c in df_teachers_raw.columns])}'

assert df_teachers_raw["SJahr"].dtype == np.int64, f'Daten in "SJahr" sollten Integer sein: {df_teachers_raw["SJahr"].dtype}'
assert df_teachers_raw["BLand"].dtype == np.int64, f'Daten in "BLand" sollten Integer sein: {df_teachers_raw["BLand"].dtype}'

assert df_teachers_raw.loc[0, "SJahr"] == 2015, f'Probleme beim Umwandeln des Schuljahres?: {df_teachers_raw.loc[0, "SJahr"]}'
assert df_teachers_raw.loc[0, "BLand"] == 101, f'Probleme beim Umwandeln des Bezirkscodes?: {df_teachers_raw.loc[0, "BLand"]}'

Wir verwenden nun die Werte in __BLand__ um ein neues Merkmal __Bundesland__ einzuführen, welches den Namen des Bundeslandes, in dem der Bezirk liegt, enthält.

Dies lässt sich auf verschiedene Arten und Weisen bewerkstelligen. Wir nützen aus, dass die Bezirksnummern nach Bundesland geordnet sind und üben das Einteilen von Werten in Kategorien mittels ```pd.cut```:

Wir definieren die Kategorien basierend auf den Bezirksnummern als:
* 100-199: Burgenland
* 200-299: Kärnten
* 300-399: Niederösterreich
* 400-499: Oberösterreich
* 500-599: Salzburg
* 600-699: Steiermark
* 700-799: Tirol
* 800-899: Vorarlberg
* 900-999: Wien

In [36]:
# Fügen Sie zum DataFrame 'df_teachers_raw' ein Merkmal "Bundesland" hinzu, 
# welches mittels "pd.cut* das zum jeweiligen Eintrag gehörige Bundesland
# enthält.

bl_map = {100: 'Burgenland',
          200: 'Kärnten',
          300: 'Niederösterreich',
          400: 'Oberösterreich',
          500: 'Salzburg',
          600: 'Steiermark',
          700: 'Tirol',
          800: 'Vorarlberg',
          900: 'Wien'}

df_teachers_raw["Bundesland"] = pd.cut(df_teachers_raw["BLand"], right=False, bins=list(bl_map.keys())+[1000], labels=list(bl_map.values()))

print(df_teachers_raw.info())

df_teachers_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Schuljahr            930 non-null    object
 1   Pol. Bezirk          930 non-null    object
 2   Anzahl Lehrpersonen  930 non-null    int64
 3   Vollzeitäquivalente  930 non-null    int64
 4   SJahr                930 non-null    int64
 5   BLand                930 non-null    int64
 6   Bundesland           930 non-null    category
dtypes: category(1), int64(4), object(2)
memory usage: 45.0+ KB
None

,Schuljahr,Pol. Bezirk,Anzahl Lehrpersonen,Vollzeitäquivalente,SJahr,BLand,Bundesland
0,SJAHR-2015,BEZ17L-101,680,599,2015,101,Burgenland
1,SJAHR-2015,BEZ17L-102,32,31,2015,102,Burgenland
2,SJAHR-2015,BEZ17L-103,249,218,2015,103,Burgenland
3,SJAHR-2015,BEZ17L-104,350,315,2015,104,Burgenland
4,SJAHR-2015,BEZ17L-105,175,158,2015,105,Burgenland

In [37]:
assert len(df_teachers_raw.index) == 930, f'Die Anzahl der Einträge im DataFrame hätte sich nicht ändern sollen: {len(df_teachers_raw)}'
assert sorted([c for c in df_teachers_raw.columns]) == ['Anzahl Lehrpersonen', 'BLand', 'Bundesland', 'Pol. Bezirk', 'SJahr', 'Schuljahr', 'Vollzeitäquivalente'], \
        f'Die Merkmalsnamen scheinen nicht zu stimmen: {sorted([c for c in df_teachers_raw.columns])}'

assert df_teachers_raw["Bundesland"].dtype == 'category', f'Daten in "Bundesland" sollten Category sein: {df_teachers_raw["Bundesland"].dtype}'

assert df_teachers_raw.loc[4, "Bundesland"] == 'Burgenland', f'Probleme beim Umwandeln des Bundeslandes?: {df_teachers_raw.loc[4, "Bundesland"]}'
assert df_teachers_raw.loc[654, "Bundesland"] == 'Steiermark', f'Probleme beim Umwandeln des Bundeslandes?: {df_teachers_raw.loc[654, "Bundesland"]}'
assert df_teachers_raw.loc[175, "Bundesland"] == 'Oberösterreich', f'Probleme beim Umwandeln des Bundeslandes?: {df_teachers_raw.loc[175, "Bundesland"]}'

Eine Kleinigkeit fällt uns bei der Betrachtung der Ausgabe von ```df_teachers_raw.info()``` auf: Der Datentyp des Merkmals __Bundesland__ ist ```category``` - es handelt sich hier also um einen kategorischen Datentyp. Das ist zwar zu erwarten - und im Allgemeinen möchte man bei einer Unterteilung in Kategorien das auch genau so haben - in unserem Fall würden wir die Bundesländernamen aber lieber als Strings interpretieren. Und wenn wir schon beim "Aufräumen" sind, nützen wir die Gelegenheit um die String-Werte in __Schuljahr__ mit den Integer-Werten in __SJahr__ zu überschreiben. 

__Hinweis:__ Zum Ändern des Datentyps eines Merkmals kann die Methode ```astype``` der Pandas DataFrames hilfreich sein ([Dokumentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html)).

In [38]:
# Überschreiben Sie die Werte des Merkmals "Schuljahr" mit den Werten des Merkmals "SJahr",
# und ändern Sie den Datentyp des Merkmals "Bundesland" auf Strings (str)

df_teachers_raw["Schuljahr"] = df_teachers_raw["SJahr"]
df_teachers_raw["Bundesland"] = df_teachers_raw["Bundesland"].astype(str)

print(df_teachers_raw.info())
df_teachers_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Schuljahr            930 non-null    int64
 1   Pol. Bezirk          930 non-null    object
 2   Anzahl Lehrpersonen  930 non-null    int64
 3   Vollzeitäquivalente  930 non-null    int64
 4   SJahr                930 non-null    int64
 5   BLand                930 non-null    int64
 6   Bundesland           930 non-null    object
dtypes: int64(5), object(2)
memory usage: 51.0+ KB
None

,Schuljahr,Pol. Bezirk,Anzahl Lehrpersonen,Vollzeitäquivalente,SJahr,BLand,Bundesland
0,2015,BEZ17L-101,680,599,2015,101,Burgenland
1,2015,BEZ17L-102,32,31,2015,102,Burgenland
2,2015,BEZ17L-103,249,218,2015,103,Burgenland
3,2015,BEZ17L-104,350,315,2015,104,Burgenland
4,2015,BEZ17L-105,175,158,2015,105,Burgenland

In [39]:
assert len(df_teachers_raw.index) == 930, f'Die Anzahl der Einträge im DataFrame hätte sich nicht ändern sollen: {len(df_teachers_raw)}'
assert sorted([c for c in df_teachers_raw.columns]) == ['Anzahl Lehrpersonen', 'BLand', 'Bundesland', 'Pol. Bezirk', 'SJahr', 'Schuljahr', 'Vollzeitäquivalente'], \
        f'Die Anzahl und Namen der Merkmale hätte sich nicht ändern sollen: {sorted([c for c in df_teachers_raw.columns])}'

assert df_teachers_raw["Bundesland"].dtype == object, f'Daten in "Bundesland" sollten nun object sein: {df_teachers_raw["Bundesland"].dtype}'
assert df_teachers_raw["Schuljahr"].dtype == np.int64, f'Daten in "Schuljahr" sollten nun Integer sein: {df_teachers_raw["Schuljahr"].dtype}'

assert (df_teachers_raw["Schuljahr"] == df_teachers_raw["SJahr"]).all(), f'"Schuljahr" scheint die die Kopien von "SJahr" zu enthalten.'

### Namen der politischen Bezirke einfügen

Als letzten Schritt in der Aufbereitung der Daten ersetzen wir nun noch die Codes für die politischen Bezirke durch deren Namen. 

Die Namen der Bezirke finden sich in der Datei ```LehrpersonenSeit2015_PolBezirke.csv```. 
Anders als bei den Namen der Merkmalen werden wir dieses mal das Umbenennen nicht fest-kodieren, sondern wir werden die beiden Datensätze (unser DataFrame in ```df_teachers_raw``` und ```LehrpersonenSeit2015_PolBezirke.csv```) miteinander vereinen (```DataFrame.merge```), so dass wir in jeder Zeile die richtigen Werte stehen haben.

In [45]:
# 1. Laden Sie die Datei 'LehrpersonenSeit2015_PolBezirke.csv' in ein neues DataFrame
# 2. Vereinen Sie das 'df_teachers_raw' mit dem neuen DataFrame spaltenweise so, dass 
#       jede Zeile aus 'df_teachers_raw' mit der Zeile aus dem neuen DataFrame kombiniert wird,
#       welche im Merkmal "code" den selben Wert wie 'df_teachers_raw' in "Pol. Bezirk"
#    Lösen Sie die Aufgabe mittels DataFrame.merge()
# 3. Speichern Sie eine Referenz auf das resultierende DataFrame in der Variablen 'df_teacher'
# 4. Räumen Sie 'df_teacher' auf: 
#    - Das DataFrame soll nur die Merkmale 
#      "Schuljahr", "Pol. Bezirk", "Anzahl Lehrpersonen", "Vollzeitäquivalente", "Bundesland" 
#      enthalten, wobei "Pol. Bezirk" nun den Namen des Bezirks (Merkmal "name" in 
#      'LehrpersonenSeit2015_PolBezirke.csv') enthalten soll
# 5. 'df_teachers_raw' soll unverändert bleiben
#
# Hinweis: Die Argumente left_on und right_on von DataFrame.merge() können hilfreich sein.

df_polBezirk = pd.read_csv('LehrpersonenSeit2015_PolBezirke.csv', delimiter=';')

df_teachers = df_teachers_raw.merge(df_polBezirk, left_on='Pol. Bezirk', right_on='code', how='left')

df_teachers["Pol. Bezirk"] = df_teachers["name"]

df_teachers = df_teachers.drop(columns=['code', 'name', 'Unnamed: 2', 'en_name', 'de_desc', 'de_link', 'en_desc', 'en_link', 'de_syn', 'en_syn', 'SJahr', 'BLand'])

df_teachers.head()

,Schuljahr,Pol. Bezirk,Anzahl Lehrpersonen,Vollzeitäquivalente,Bundesland
0,2015,Eisenstadt (Stadt) <101>,680,599,Burgenland
1,2015,Rust (Stadt) <102>,32,31,Burgenland
2,2015,Eisenstadt Umgebung <103>,249,218,Burgenland
3,2015,Güssing <104>,350,315,Burgenland
4,2015,Jennersdorf <105>,175,158,Burgenland

In [46]:
assert len(df_teachers.index) == 930, f'Die Anzahl der Einträge im neuen DataFrame sollte unverändert sein: {len(df_teachers)}'
assert len(df_teachers.columns) == 5, f'Die Anzahl der Merkmale in df_teachers ist nicht korrekt: {len(df_teachers.columns)}'
assert sorted([c for c in df_teachers.columns]) == ['Anzahl Lehrpersonen', 'Bundesland', 'Pol. Bezirk', 'Schuljahr', 'Vollzeitäquivalente'], \
        f'Die Merkmale entsprechen nicht den Vorgaben: {sorted([c for c in df_teachers.columns])}'

assert df_teachers["Pol. Bezirk"].dtype == object, f'Daten in "Pol. Bezirk" sollten object sein: {df_teachers["Pol. Bezirk"].dtype}'

assert df_teachers.loc[4, "Pol. Bezirk"] == 'Jennersdorf <105>', f'Probleme beim Umwandeln des Bundeslandes?: {df_teachers.loc[4, "Pol. Bezirk"]}'
assert df_teachers.loc[654, "Pol. Bezirk"] == 'Leibnitz <610>', f'Probleme beim Umwandeln des Bundeslandes?: {df_teachers.loc[654, "Pol. Bezirk"]}'
assert df_teachers.loc[175, "Pol. Bezirk"] == 'Steyr Land <415>', f'Probleme beim Umwandeln des Bundeslandes?: {df_teachers.loc[175, "Pol. Bezirk"]}'

### Abfragen auf dem Datensatz

Nachdem wir den Datensatz nun für uns verständlich aufbereitet haben, werden wir noch zwei Auswertungen darauf vornehmen, bevor wir das Übungsblatt abschließen.

In [64]:
# Erstellen Sie ein neues DataFrame, welche alle Einträge aus 'df_teachers' enthält, die entweder 
# weniger als 100, oder mehr als 4000 Lehrpersonen enthalten. 
# Speichern Sie eine Referenz auf das neue DataFrame in der Variablen 'df_result1'.

df_result1 = df_teachers[(df_teachers["Anzahl Lehrpersonen"] > 4000) | (df_teachers["Anzahl Lehrpersonen"] < 100)]
df_result1.head()

,Schuljahr,Pol. Bezirk,Anzahl Lehrpersonen,Vollzeitäquivalente,Bundesland
1,2015,Rust (Stadt) <102>,32,31,Burgenland
44,2015,Stadt Linz <401>,4369,3655,Oberösterreich
68,2015,Graz (Stadt) <601>,4768,4154,Steiermark
118,2016,Rust (Stadt) <102>,29,28,Burgenland
161,2016,Stadt Linz <401>,4441,3730,Oberösterreich

In [65]:
assert type(df_result1) == pd.core.frame.DataFrame, f'df_result1 kein pandas DataFrame {type(df_result1)}'
assert len(df_result1.index) == 24, f'Die Anzahl der Ergebnisse stimmt nicht: {len(df_result1.index)}'
assert len(df_result1.columns) == 5, f'Die Anzahl der Merkmale im Ergebnis stimmt nicht: {len(df_result1.columns)}'

# so viel sei über das Ergebnis verraten
resb = {'Burgenland', 'Oberösterreich', 'Steiermark'}
assert len(df_result1[~df_result1["Bundesland"].isin(resb)].index) == 0, \
        f'Ergebnis enthält unerwartete Einträge: {df_result1[~df_result1["Bundesland"].isin(resb)]}'

Und zum Abschluss erstellen wir noch eine Übersicht, in welchem Jahr es wie viele Vollzeitäquivalente in jedem Bundesland gab.

In [67]:
# Erstellen Sie aus 'df_teachers' eine Pivot-Tabelle. 
# Diese soll ein Merkmal/eine Spalte für jedes Bundesland besitzen, 
# und eine Zeile für jedes Jahr.
# Die Werte der Tabelle geben die Summe der Vollzeitäquivalente 
# im jeweiligen Bundesland und Jahr an.
#
# Speichern Sie eine Referenz auf das Ergebnis in df_result2

df_result2 = df_teachers.pivot_table(values='Vollzeitäquivalente', 
                                     index='Schuljahr',             
                                     columns='Bundesland',          
                                     aggfunc='sum')  

df_result2.tail()

Bundesland,Burgenland,Kärnten,Niederösterreich,Oberösterreich,Salzburg,Steiermark,Tirol,Vorarlberg,Wien
Schuljahr,,,,,,,,,
2018,3637,7473,19705,18697,7522,14094,9556,5616,23619
2019,3645,7276,19561,18482,7513,14152,9442,5594,23747
2020,3599,6970,19409,18378,7433,13989,9363,5520,23573
2021,3594,6945,19413,18593,7480,14391,9358,5500,23857
2022,3616,6940,19558,18723,7417,14339,9461,5240,23963

In [68]:
assert type(df_result2) == pd.core.frame.DataFrame, f'df_result2 kein pandas DataFrame {type(df_result2)}'
assert len(df_result2.index) == 8, f'Die Anzahl der Ergebnisse stimmt nicht: {len(df_result2.index)}'
assert len(df_result2.columns) == 9, f'Die Anzahl der Merkmale im Ergebnis stimmt nicht: {len(df_result2.columns)}'

# so viel sei über das Ergebnis verraten
assert df_result2.loc[2017, "Tirol"] == 9601, f'Falsche Summe für Tirol 2017'
assert df_result2.loc[2021, "Wien"] == 23857, f'Falsche Summe für Wien 2021'

## Ende
Damit haben Sie das 1. Übungsblatt fertig durchgearbeitet. Gratulation! :-)<br/> Bitte melden Sie sich bei Fragen, Problemen oder Unklarheiten rechtzeitig.